<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="quiz" href="/tabs/quiz">
      <app-material-icon name="quiz"></app-material-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="success" href="/tabs/success">
      <app-material-icon name="trophy"></app-material-icon>
      <ion-label>Succès</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <app-material-icon name="history"></app-material-icon>
      <ion-label>Historique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <app-material-icon name="account_circle"></app-material-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
